%h1=t('your_profile')

.row
  .large-9.columns
    %h5=current_user.full_name
    %h6=current_user.email
  .large-3.columns
    .callout
      Verified Information
      %ul
        %li
          Email
          - if current_user.verified_email?
            = fa_icon "check", class: "success"
          - else
            = fa_icon "remove", class: "invalid"
            %br
            =t('unverified_email')
        %li
          =t('phone')
          - if current_user.phone.nil?
            = fa_icon "remove", class: "invalid"
            %br
            =t('verify_phone')
            = simple_form_for(User.new, url: :update_phone) do |f|
              = f.input :phone
              = f.submit t('save'), class: "button"
            %small= t('phone_memo')
          - elsif current_user.verified_phone?
            = fa_icon "check", class: "success"
          - else
            = fa_icon "remove", class: "invalid"
            %br
            = link_to t('verify_mobile'), new_verification_path(name: "sms")
