.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-text
        =link_to "Piatsy", root_path
  .top-bar-right
    %ul.menu.dropdown{ "data-dropdown-menu" => "" }
      %li= link_to t('list_item'), new_item_path, class: "button"
      - if signed_in?
        %li
          =link_to current_user.username,"#"
          %ul.menu.vertical
            %li= link_to t('profile'), profile_path
            %li= link_to t('sign_out'), sign_out_path, method: :delete
      - else
        %li= link_to 'Sign in', sign_in_path
        %li= link_to 'Sign up', sign_up_path
